<a href="https://colab.research.google.com/github/M4XJUNG/book-python-stats-2nd/blob/main/learn_statistics_by_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 레포지토리 전체를 클론합니다.
!git clone https://github.com/M4XJUNG/book-python-stats-2nd.git

Cloning into 'book-python-stats-2nd'...
remote: Enumerating objects: 84, done.
remote: Counting objects: 100% (84/84), done.
remote: Compressing objects: 100% (72/72), done.
remote: Total 84 (delta 13), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (84/84), 1.75 MiB | 7.61 MiB/s, done.
Resolving deltas: 100% (13/13), done.

# Chapter 1 통계학 기본

## 1.1 통계학

## 1.2 왜 기술통계가 필요한가

## 1.3 왜 추론통계가 필요한가

# Chapter 2 파이썬과 주피터 노트북

## 2.1 환경 구축

## 2.2 주피터 노트북

## 2.3 파이썬 프로그래밍

### 2.3.1 사칙연산

In [ ]:
6 / 3

2.0

### 2.3.2 기타 연산

In [ ]:
2 ** 3

8

In [ ]:
7 // 3

2

In [ ]:
7 % 3

1

### 2.3.7 함수

In [ ]:
def sample_function(data):
  return (data + 2) * 4

### 2.3.9 클래스와 인스턴스

In [ ]:
class Sample_Class:
  def __init__(self, data1, data2):
    self.data1 = data1
    self.data2 = data2
  def method2(self):
    return self.data1 + self.data2

In [ ]:
sample_instance = Sample_Class(data1 = 2, data2 = 3)

In [ ]:
sample_instance.data1

2

In [ ]:
sample_instance.method2()

5

## 2.4 넘파이와 판다스

### 2.4.1 추가 기능 설치

In [ ]:
import numpy as np
import pandas as pd

### 2.4.2 넘파이와 팬더스

In [ ]:
# 넘파이 = 배열이라는 데이터를 다루는 클래스를 주로 사용

# 판다스 = 데이터프레임이라는 데이터 관리에 무척 강력한 클래스를 지님

### 2.4.3 리스트

In [ ]:
sample_list = [1, 2, 3, 4, 5]
sample_list

[1, 2, 3, 4, 5]

### 2.4.4 행과 열
![image.png]()

### 2.4.5 배열

In [ ]:
sample_array = np.array([1, 2, 3, 4, 5])
sample_array

array([1, 2, 3, 4, 5])

In [ ]:
np.array([1, 2, 'A'])

array(['1', '2', 'A'], dtype='<U21')

### 2.4.6 배열 연산

In [ ]:
sample_array + 1

array([2, 3, 4, 5, 6])

In [ ]:
sample_array * 2

array([ 2,  4,  6,  8, 10])

### 2.4.7 2차원 배열

In [ ]:
sample_array_2 = np.array(
    [[1, 2, 3, 4, 5],
     [6, 7, 8, 9, 10]])
sample_array_2

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [ ]:
sample_array_2.shape

(2, 5)

### 2.4.11 데이터프레임

In [ ]:
sample_df = pd.DataFrame({
    'col1' : sample_array,
    'col2' : sample_array * 2,
    'col3' : ['A', 'B', 'C', 'D', 'E']
})
print(sample_df)

   col1  col2 col3
0     1     2    A
1     2     4    B
2     3     6    C
3     4     8    D
4     5    10    E

In [ ]:
sample_df

   col1  col2 col3
0     1     2    A
1     2     4    B
2     3     6    C
3     4     8    D
4     5    10    E

### 2.4.12 파일을 읽어 들이는 법

In [ ]:
file_data = pd.read_csv('/content/learn-statistics-by-python/csv_source/2-4-1-sample_data.csv')
print(file_data)

   col1 col2
0     1    A
1     2    A
2     3    B
3     4    B
4     5    C
5     6    C

### 2.4.13 데이터프레임 병합

In [ ]:
df_1 = pd.DataFrame({
    'col1' : np.array([1, 2, 3]),
    'col2' : np.array(['A', 'B', 'C'])
})
df_2 = pd.DataFrame({
    'col1' : np.array([4, 5, 6]),
    'col2' : np.array(['D', 'E', 'F'])
})

In [ ]:
# 두 개의 데이터프레임을 세로 방향으로 이어 붙이기
print(pd.concat([df_1, df_2]))

   col1 col2
0     1    A
1     2    B
2     3    C
0     4    D
1     5    E
2     6    F

In [ ]:
# 두 개의 데이터프레임을 가로 방향으로 이어 붙이기
print(pd.concat([df_1, df_2], axis = 1))

   col1 col2  col1 col2
0     1    A     4    D
1     2    B     5    E
2     3    C     6    F

### 2.4.14 데이터프레임 열에 대한 작업

In [ ]:
print(sample_df)

   col1  col2 col3
0     1     2    A
1     2     4    B
2     3     6    C
3     4     8    D
4     5    10    E

In [ ]:
# 열 이름 지정해서 호출
print(sample_df.col2)

0     2
1     4
2     6
3     8
4    10
Name: col2, dtype: int64

In [ ]:
# 대괄호 사용해서 호출
print(sample_df['col2'])

0     2
1     4
2     6
3     8
4    10
Name: col2, dtype: int64

In [ ]:
print(sample_df[['col2', 'col3']])

   col2 col3
0     2    A
1     4    B
2     6    C
3     8    D
4    10    E

In [ ]:
# drop 함수를 사용하여 특정 열 제거
print(sample_df.drop('col1', axis = 1))

   col2 col3
0     2    A
1     4    B
2     6    C
3     8    D
4    10    E

### 2.4.15 데이터프레임 행에 대한 작업

In [ ]:
# 데이터프레임에서 특정 행을 가져오는 몇 가지 방법
print(sample_df.head(n = 3))

   col1  col2 col3
0     1     2    A
1     2     4    B
2     3     6    C

In [ ]:
print(sample_df.query('index == 0'))

   col1  col2 col3
0     1     2    A

In [ ]:
# 큰 따옴표와 작은 따옴표를 사용할 때 주의!
print(sample_df.query('col3 == "A"'))

   col1  col2 col3
0     1     2    A

In [ ]:
print(sample_df.query('col3 == "A" | col3 == "D"'))

   col1  col2 col3
0     1     2    A
3     4     8    D

In [ ]:
print(sample_df.query('col3 == "A" & col3 == "D"'))

Empty DataFrame
Columns: [col1, col2, col3]
Index: []

In [ ]:
# 행과 열에 모두 조건 지정
print(sample_df.query('col3 == "A"')[['col2', 'col3']])

   col2 col3
0     2    A

### 2.4.16 시리즈

In [ ]:
# 판다스 데이터프레임에서 1열만 추출하면 '시리즈'라는 열 데이터형으로 바뀐다.
type(sample_df)

pandas.core.frame.DataFrame

In [ ]:
type(sample_df.col1)

pandas.core.series.Series

In [ ]:
type(np.array(sample_df.col1))

numpy.ndarray

In [ ]:
type(sample_df.col1.to_numpy())

numpy.ndarray

### 2.4.17 함수의 도움말

In [ ]:
# 함수의 사용법을 모두 다 기억할 수 없다.
# help 함수를 사용하여 query 함수 사용법을 알고 싶을 때 다음과 같이 사용한다.
help(sample_df.query)

Help on method query in module pandas.core.frame:

query(expr: 'str', *, inplace: 'bool' = False, **kwargs) -> 'DataFrame | None' method of pandas.core.frame.DataFrame instance
    Query the columns of a DataFrame with a boolean expression.

    Parameters
    ----------
    expr : str
        The query string to evaluate.

        You can refer to variables
        in the environment by prefixing them with an '@' character like
        ``@a + b``.

        You can refer to column names that are not valid Python variable names
        by surrounding them in backticks. Thus, column names containing spaces
        or punctuations (besides underscores) or starting with digits must be
        surrounded by backticks. (For example, a column named "Area (cm^2)" would
        be referenced as ```Area (cm^2)```). Column names which are Python keywords
        (like "list", "for", "import", etc) cannot be used.

        For example, if one of your columns is called ``a a`` and you want
        to sum it with ``b``, your query should be ```a a` + b``.

    inplace : bool
        Whether to modify the DataFrame rather than creating a new one.
    **kwargs
        See the documentation for :func:`eval` for complete details
        on the keyword arguments accepted by :meth:`DataFrame.query`.

    Returns
    -------
    DataFrame or None
        DataFrame resulting from the provided query expression or
        None if ``inplace=True``.

    See Also
    --------
    eval : Evaluate a string describing operations on
        DataFrame columns.
    DataFrame.eval : Evaluate a string describing operations on
        DataFrame columns.

    Notes
    -----
    The result of the evaluation of this expression is first passed to
    :attr:`DataFrame.loc` and if that fails because of a
    multidimensional key (e.g., a DataFrame) then the result will be passed
    to :meth:`DataFrame.__getitem__`.

    This method uses the top-level :func:`eval` function to
    evaluate the passed query.

    The :meth:`~pandas.DataFrame.query` method uses a slightly
    modified Python syntax by default. For example, the ``&`` and ``|``
    (bitwise) operators have the precedence of their boolean cousins,
    :keyword:`and` and :keyword:`or`. This *is* syntactically valid Python,
    however the semantics are different.

    You can change the semantics of the expression by passing the keyword
    argument ``parser='python'``. This enforces the same semantics as
    evaluation in Python space. Likewise, you can pass ``engine='python'``
    to evaluate an expression using Python itself as a backend. This is not
    recommended as it is inefficient compared to using ``numexpr`` as the
    engine.

    The :attr:`DataFrame.index` and
    :attr:`DataFrame.columns` attributes of the
    :class:`~pandas.DataFrame` instance are placed in the query namespace
    by default, which allows you to treat both the index and columns of the
    frame as a column in the frame.
    The identifier ``index`` is used for the frame index; you can also
    use the name of the index to identify it in a query. Please note that
    Python keywords may not be used as identifiers.

    For further details and examples see the ``query`` documentation in
    :ref:`indexing <indexing.query>`.

    *Backtick quoted variables*

    Backtick quoted variables are parsed as literal Python code and
    are converted internally to a Python valid identifier.
    This can lead to the following problems.

    During parsing a number of disallowed characters inside the backtick
    quoted string are replaced by strings that are allowed as a Python identifier.
    These characters include all operators in Python, the space character, the
    question mark, the exclamation mark, the dollar sign, and the euro sign.
    For other characters that fall outside the ASCII range (U+0001..U+007F)
    and those that are not further specified in PEP 3131,
    the query parser will raise an error.
    This excludes whitespace different than the space character,
    but also the hashtag (as it is used for comments) and the backtick
    itself (backtick can also not be escaped).

    In a special case, quotes that make a pair around a backtick can
    confuse the parser.
    For example, ```it's` > `that's``` will raise an error,
    as it forms a quoted string (``'s > `that'``) with a backtick inside.

    See also the Python documentation about lexical analysis
    (https://docs.python.org/3/reference/lexical_analysis.html)
    in combination with the source code in :mod:`pandas.core.computation.parsing`.

    Examples
    --------
    >>> df = pd.DataFrame({'A': range(1, 6),
    ...                    'B': range(10, 0, -2),
    ...                    'C C': range(10, 5, -1)})
    >>> df
       A   B  C C
    0  1  10   10
    1  2   8    9
    2  3   6    8
    3  4   4    7
    4  5   2    6
    >>> df.query('A > B')
       A  B  C C
    4  5  2    6

    The previous expression is equivalent to

    >>> df[df.A > df.B]
       A  B  C C
    4  5  2    6

    For columns with spaces in their name, you can use backtick quoting.

    >>> df.query('B == `C C`')
       A   B  C C
    0  1  10   10

    The previous expression is equivalent to

    >>> df[df.B == df['C C']]
       A   B  C C
    0  1  10   10

# Chapter 3 기술 통계

## 3.1 데이터 분류

## 3.2 수식을 읽는 방법

## 3.3 도수분포

In [ ]:
# 수치 계산에 사용하는 라이브러리
import numpy as np
import pandas as pd

In [48]:
category_data = pd.read_csv('/content/book-python-stats-2nd/csv_source/3-3-1-fish-species.csv')
print(category_data)

  species
0       A
1       A
2       A
3       B
4       B
5       B
6       B
7       B
8       B
9       B

## 3.4 일변량 데이터 통계량

## 3.5 다변량 데이터 통계량

## 3.6 층화분석

## 3.7 그래프 활용

# Chapter 4 확률과 확률분포

## 4.1 확률론

## 4.2 확률분포

## 4.3 이항분포

## 4.4 정규분포

# Chapter 5 통계적 추정

## 5.1 통계적 추론의 개념

## 5.2 모집단에서 표본추출 시뮬레이션

## 5.3 모평균 추정

## 5.4 모분산 추정

## 5.5 정규모집단에서 파생된 확률분포

## 5.6 구간추정

# Chapter 6 통계적 가설검정

## 6.1 모평균에 대한 단일표본 t검정

## 6.2 평균값 차이 검정

## 6.3 분할표 검정

## 6.4 검정 결과 해석

# Chapter 7 통계모델

## 7.1 통계모델 기본

## 7.2 선형모델을 만드는 방법

## 7.3 데이터 표현과 모델 명칭

## 7.4 파라미터 추정: 가능도 최대화

## 7.5 파라미터 추정: 손실 최소화

## 7.6 예측 정확도 평가와 변수 선택

# Chapter 8 정규선형모델

## 8.1 연속형 독립변수가 하나인 모델: 단순회귀

## 8.2 정규선형모델 평가

## 8.3 분산분석

## 8.4 독립변수가 여럿인 모델

# Chapter 9 일반화선형모델

## 9.1 일반화선형모델 기본

## 9.2 로지스틱 회귀

## 9.3 일반화선형모델 평가

## 9.4 푸아송 회귀

# Chapter 10 통계학과 머신러닝

## 10.1 머신러닝 기본

## 10.2 정규화와 릿지 회귀, 라쏘 회귀

## 10.3 파이썬을 이용한 릿지 회귀와 라쏘 회귀

## 10.4 선형모델과 신경망